.footer {
    background-color: #1c3037;
    color: white;
}

.footer-links {
    display: flex;
    padding: 20px 20px 0;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-link-section {
    display: inline-block;
    flex-direction: column;
    margin-right: 40px;
}