.footer {
    background-color: #1c3037;
    color: white;
}

.footer-links {
    display: flex;
    padding: 20px 20px 0;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-link-section {
    display: inline-block;
    flex-direction: column;
    margin-right: 40px;
}

.footer-v2 {
    background-color: #1c3037;
    padding-bottom: 50px;
    color: white;
    display: flex;
    padding: 0 32px;
    font-size: 20px;
    /* flex-flow: column; */

    .copyright {
        margin: 40px 0;
        font-size: 18px;
        font-family: Muli;
    }

    .legal {
        margin: 0;
        list-style: none;
        padding: 40px 0;
        display: flex;
        border-bottom: 1px solid;
        flex-direction: column;

        li {
            margin-bottom: 32px;
        }
    }
}