.header{
  position:sticky;top:0;background:#fff;border-bottom:1px solid #f1f5f9;z-index:10
}
.header__row{display:flex;align-items:center;gap:24px;height:72px}
.header__brand{display:flex;align-items:center;gap:10px}
.logo__icon {
  width: 180px;
  height: 30px;
  
  background: url("/src/media/ImagenHeader.svg") center/cover no-repeat; /*PONER EL LOGO DEL MERCADONA*/
}

.logo__text{font-weight:800;letter-spacing:.5px}
.header__nav{display:flex;gap:22px;font-weight:600}
.header__nav a{color:#1f2937}
.header__nav a:hover{color:var(--green)}
.header__lang{margin-left:auto;display:flex;align-items:center;gap:6px;color:#374151;font-weight:600;cursor:default}
@media (max-width:980px){
  .header__nav{display:none}
}
